<div class="menu">
    <mat-grid-list cols="3" rowHeight="200px">
      <mat-grid-tile>
        <mat-card (click)="generarReparacion()">
          <mat-card-title>Generar Reparación</mat-card-title>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card (click)="registrarEmpleado()">
          <mat-card-title>Registrar Empleado</mat-card-title>
          <mat-card-content>
            Aquí puedes registrar un nuevo empleado.
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card (click)="estatusPedido()">
          <mat-card-title>Reparaciones Pendientes</mat-card-title>
          <mat-card-content>
            Aquí puedes ver el estatus de las reparaciones.
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  